.container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.chats {
  height: 100%;
  width: 35%;
  border: 2px solid black;
}
.gallium {
  border-bottom: 2px solid black;
}
.chatroom {
  height: 100%;
  width: 100%;
  border: 2px solid black;
}
.name {
  border-bottom: 2px solid black;
  height: 5%;
  display: flex;
  align-items: center;
}
.messages {
  height: 90%;
  display: flex;
  align-items: end;
}
.send {
  border-top: 2px solid black;
  height: 5%;
  display: flex;
  align-items: center;
}
h2 {
  padding-left: 10px;
}
h3 {
  padding-left: 15px;
}
.infoTittle {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
.inputFilter {
  padding: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
}
ul {
  padding-left: 10px;
  list-style-type: none;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.sendInput {
  padding: 10px;
  width: 95%;
  border: none;
}
.sendButton {
  height: 100%;
  width: 5%;
  border: none;
}
label {
  padding-left: 10px;
}
.create {
  margin-left: 10px;
  padding: 10px;
  width: 50%;
}
#create {
  border-bottom: 2px solid black;
}
.date {
  text-align: center;
  text-align: center;
  padding-top: 5px;
}
.user {
  font-weight: bold;
  padding-top: 5px;
}
.mat-drawer-container {
  width: 100%;
}
#info {
  height: 100%;
  border-radius: 0;
  border: 2px solid black;
}
#userList {
  height: auto;
}
