* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100vw;
}
.border {
  height: 10%;
  border: 2px solid black;
}
.hud {
  height: 80%;
  display: flex;
}
.chat {
  height: 100%;
  width: 35%;
  border: 2px solid black;
}
.messages {
  height: 100%;
  width: 65%;
  border: 2px solid black;
}
