<header>
  <nav>
    <ul>
      @if (!userLoginService.isLogged()) {
        <li routerLink="/login">Iniciar sesión</li>
        <li routerLink="/signup">Registrarse</li>
      } @else {
        <li routerLink="/chatroom">Ir a chats</li>
        <li (click)="userLoginService.logout()">Cerrar sesión</li>
      }
    </ul>
  </nav>
</header>
<main>
  <section class="hero">
    <div class="title">
      <h1>Todo lo que necesitas para comunicarte, nada más</h1>
      <h3>Unificá tus conversaciones en una solución simple</h3>
    </div>
    <div class="communicator">
      <img src="/galliumCommunicator.png" alt="" />
    </div>
  </section>
</main>
