div {
  display: grid;
  place-items: center;
  height: 100vh;
  background-image: url('../../../paginaFondo.png');
  background-size: 25%;
}
form {
  padding: 25px;
  height: 65%;
  width: 25%;
  display: grid;
  border: 2px solid black;
  background-color: white;
}
